/* css styles */

body {
  background-color: #89a7d6;
}


h2.subtitle {
    text-align: center;   /* Center the subtitle */
    font-size: 1.2em;     /* Adjust font size */
    margin-top: -10px;    /* Adjust spacing between title and subtitle */
    color: #555555;       /* Change subtitle color */
}


